@model IEnumerable<Socialnetwork.Webclient.Models.OriginalPostViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PostId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Likes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Likes)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                @Html.ActionLink("Like", "Like", new { postId = item.PostId})
            </td>
        </tr>
}
    </tbody>
</table>
